@model IQueryable<LawyerDataBase.DAL.Entities.Document>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Table</title>
    <style>
        body {
            background-color: #f2f3f5;
            font-family: Arial, sans-serif;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            background-color: #ffffff;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }

        thead {
            background-color: #7289da;
            color: #ffffff;
        }

        tbody tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tbody tr:hover {
            background-color: #e2e3e5;
        }

        button {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        th, td {
            border-bottom: 1px solid #dddddd;
        }

            th:first-child, td:first-child {
                border-left: none;
            }

            th:last-child, td:last-child {
                border-right: none;
            }

        .action-button {
            border: none;
            background-color: transparent;
            padding: 0;
            margin: 0;
        }

        .action-button img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .button-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .myButton {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 8px 4px;
            cursor: pointer;
        }
    </style>
</head>
<body>
        <form method="post" asp-action="Search" asp-controller="Lawyer">
        <input class="form-control" id="myInput" type="text" name="searchField" placeholder="Search..">
                <div class="button-container">
            <button type='submit' class="myButton">Search</button>
            </div>
        </form>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Date of creation</th>
                <th>Added by</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                var documentList = Model.ToList();
            }

            @foreach (var item in documentList)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.DateOfCreation</td>
                    <td>@item.User.Name</td>
                    <td>
                        <form method="get" action="/Lawyer/OpenFile" target="_blank">
                            <button type="submit" class="btn btn-success flex-fill" name="id" value="@item.Id">Open</button>
                        </form>
                        <form method="post" action="/Lawyer/DeleteFile">
                            <button type="submit" class="btn btn-danger flex-fill" name="id" value="@item.Id">Delete</button>
                        </form>
                        <form method="post" action="/Lawyer/DownloadFile">
                            <button type="submit" class="btn btn-primary" name="id" value="@item.Id">Download</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
